<!DOCTYPE html>
<html lang="fr">
<head>
      <meta charset="utf-8">
      <link rel="icon" href="../public/images/sms.png">
      <title>Envoyer un SMS avec NodeJS</title>
      <link rel="stylesheet" href="css/style.css">
</head>
<body>
      <header> <h1>Envoyer un SMS</h1></header>
      <section class="main" role="main">
        <p class="instructions">Entrer un numéro de téléphone commençant par 33 </p>
        <form>
          <input type="tel" name="number" placeholder="33655123123" required>
          <input type="text" name="text" placeholder="Hello">
          <input type="button" value="Envoyer le SMS">
        </form>
      </section>

      <script src="/socket.io/socket.io.js"></script>

  <script src="js/app.js"></script>
</body>
</html>
