<!DOCTYPE html>
<html lang="fr">
<head>
      <meta charset="utf-8">
      <title>J'envoie un SMS avec NodeJS</title>
      <link rel="stylesheet" href="css/style.css">
</head>
<body>
      <header> <h1>Envoyer un SMS</h1></header>
      <section id="main" role="main">
        <p class="intro">Entrer un numéro de téléphone, begins with a country code</p>
        <form>
          <input type="tel" name="number" placeholder="15551231234" required>
          <input type="text" name="text" placeholder="Hello">
          <input type="button" value="Send SMS">
        </form>
      </section>
      <p class="response"></p>


  <script src="js/app.js"></script>
</body>
</html>
